/* for typeahead lst */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    // used to be tt-dropdown-menu in older versions
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.twitter-typeahead {
    width: 100%;
}

/*desc mr/po/pl */
#desc {
    font-weight: bold;
    margin-bottom: 5px;
}

.rata-kiri{
  text-align: left !important;
  margin-left: 20px;
}

/*overide pg title*/
.box-header h3.box-title {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    margin: 0;
}

.sidebar-menu .garis-atas{
  border-top: 3px solid #3c8dbc;
}
